<ul class="sk-grid">
  <li class="sk-grid-item">
    <a class="sk-grid-btn" href="/articles/installation">
      <div class="inner">
        <div class="icon">
          <i class="fa fa-download fa-5x"></i>
        </div>
        <h4>Installing SplashKit</h4>
        <h5>Installation Guides</h5>
      </div>
    </a><!--/installing-->
  </li>
  <li class="sk-grid-item">
    <a class="sk-grid-btn" href="/articles/examples/">
      <div class="inner">
        <div class="icon">
          <i class="fa fa-code fa-5x"></i>
        </div>
        <h4>Using SplashKit</h4>
        <h5>Code Examples</h5>
      </div>
    </a><!--/examples-->
  </li>
  <li class="sk-grid-item">
    <a class="sk-grid-btn" href="/articles/contributing/">
      <div class="inner">
        <div class="icon">
          <i class="fa fa-plus fa-5x"></i>
        </div>
        <h4>Contributing</h4>
        <h5>Guides</h5>
      </div>
    </a><!--/contributing-->
  </li>
</ul>
