<ul class="sk-grid">
  <li class="sk-grid-item">
    <a class="sk-grid-btn" href="/articles/installation">
      <i class="fa fa-download"></i>
      <header>Installing SplashKit</header>
      <small>Installation Guides</small>
    </a><!--/installing-->
  </li>
  <li class="sk-grid-item">
    <a class="sk-grid-btn" href="/articles/examples/">
      <i class="fa fa-code"></i>
      <header>Using SplashKit</header>
      <small>Code Examples</small>
    </a><!--/examples-->
  </li>
  <li class="sk-grid-item">
    <a class="sk-grid-btn" href="/articles/contributing/">
      <i class="fa fa-plus"></i>
      <header>Contributing</header>
      <small>Extend SplashKit</small>
    </a><!--/contributing-->
  </li>
</ul>
