body.articles main#content .container {
  margin-top: 1.5rem;
}

.sk-article {
  margin: 4rem auto 2.5em;

  @include media-breakpoint-down(sm) {
    padding: 1.5rem 1.5rem 0;
    margin: 0 auto;
  }
}

.sk-text-center {
  text-align: center;
}

.sk-article-sidebar {
  margin: 4rem auto 2.5em;

  @include media-breakpoint-down(sm) {
    padding: 1.5rem 1.5rem 0;
    margin: 0 auto;
  }
}
