$footer-color:            #ccc;
$footer-background-color: #312f31;

body > footer.sk-footer {
  padding: 4rem 0;
  font-size: 85%;
  color: $footer-color;
  background-color: $footer-background-color;
  @include media-breakpoint-down(sm) {
    padding: 1.25rem;
    text-align: center;
  }

  a {
    color: #fff;
    font-weight: 500;
  }
  ul.sk-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
    li {
      display: inline-block;
      & + li {
        margin-left: 1rem;
      }
    }
  }
  p {
    margin-bottom: 0;
  }
}
