ul.sk-grid {
  list-style: none;

  li {
    @extend .col-md-4;
    @extend .col-md-3;
  }

  a.sk-grid-btn {
    padding: 3.5rem;
    width: 100%;
    display: inline-block;
    background-color: $gray-lighter;
    color: $body-color;
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: darken($gray-lighter, 3%);
      i, header {
        color: $brand-primary;
      }
    }
    header {
      font-size: 1.5rem;
    }
    small {
      text-transform: uppercase;
      color: lighten($body-color, 40%);
    }
    header, small {
      font-weight: 500;
    }
    i {
      @extend .fa-5x;
      width: 100%;
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}
