body > nav.navbar.sk-navbar {
  background: darken($splashkit-blue, 7%);
  border-radius: 0;
  box-shadow: 0px 0px 3px #36459b;
  .navbar-brand {
    color: lighten($splashkit-yellow, 7%);
    font-weight: 500;
  }
  .navbar-toggler {
    color: #fff;
  }
}
