#sk-global-search {
  border-style: 1px;
  border-bottom-style: solid;
  border-bottom-color: $navbar-dark-color;
  position: relative;
  @include media-breakpoint-down(sm) {
    margin: 0.5rem 0 1.5rem 0;
  }
  input, .input-group-addon {
    border: none;
    background: none;
    border-radius: 0;
    color: inherit;
  }
  &, .input-group-addon, input::placeholder {
    color: $navbar-dark-color;
  }
  &:active, input:focus {
    color: $navbar-dark-active-color;
    border-bottom-color: $navbar-dark-active-color;
  }
  &:hover {
    color: $navbar-dark-hover-color;
    border-bottom-color: $navbar-dark-hover-color;
    input::placeholder {
      color: $navbar-dark-hover-color;
    }
  }
  .input-group-addon {
    padding-right: 0.25rem;
    vertical-align: top;
  }
  input:invalid + .sk-search-results-container,
  input:not(:focus) + .sk-search-results-container:not(:hover) {
    display: none;
  }
  input:valid:focus + .sk-search-results-container,
  .sk-search-results-container:hover {
    z-index: 1;
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    @extend .card;
    ul.sk-search-results.list, .sk-no-results-found {
      @extend .list-group;
      @extend .list-group-flush;
    }
    li {
      @extend .list-group-item;
      padding: 0;
      &:hover, &:focus {
        background-color: $dropdown-link-hover-bg;
        outline: none;
      }
      a.link {
        display: block;
        padding: 0.75rem 1.25rem;
        p {
          margin: 0;
        }
        &:hover {
          text-decoration: none;
        }
        p.api {
          font-size: 0.8rem;
          text-transform: uppercase;
          font-weight: bold;
          color: $text-muted;
        }
        p.type {
          display: none;
        }
      }
    }
  }
  .sk-search-results:not(:empty) + .sk-search-no–results {
    display: none;
  }
  .sk-search-no–results {
    text-align: center;
    color: $text-muted;
    padding: 1.5rem;
    i {
      display: block;
      margin-bottom: 0.5rem;
    }
    p {
      margin: 0;
      font-weight: 300;
    }
  }
}
