.sk-snippet {
  margin-bottom: 1rem;
  ul.nav {
    border-bottom: none;
    li {
      font-size: 0.9em;
      margin-bottom: 0;
    }
    li a {
      color: #8e8e8e;
      padding: 5px 10px;
    }
    li a.active {
      font-weight: bold;
      color: #333333;
    }
  }
  .tab-content {
    cursor: pointer;
    position: relative;
    background-color: #f0f0f0;
    border-radius: 0 4px 4px 4px;
    pre {
      margin-bottom: 0;
      padding: 1rem;
      transition: background-color ease-in 0.15s;
    }
    pre::selection {
      background-color: transparent;
    }
    pre code {
      &::selection, span::selection {
        color: #fff;
        background-color: rgba(128, 128, 128, 0.8);
      }
    }
    pre:hover {
      background-color: darken(#f0f0f0, 5%);
    }
  }
}
