.sk-snippet {
  ul.nav {
    border-bottom: none;
    li {
      font-size: 0.9em;
      margin-bottom: 0;
    }
    li a {
      color: #8e8e8e;
      padding: 5px 10px;
    }
    li a.active {
      font-weight: bold;
      color: #333333;
    }
  }
  .tab-content {
    cursor: pointer;
    position: relative;
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 0 3px 3px 3px;
    .rouge-code ::selection {
      color: #fff;
      background-color: rgba(128, 128, 128, 0.8);
    }
    &:hover::before {
      display: block;
    }
    table.rouge-table {
      width: 100%;
    }
    td.rouge-gutter {
      width: 6ex;
    }
    pre {
      border: none;
      border-radius: 0;
      background-color: initial;
      margin: 0;
      padding: 0;
    }
  }
}
