body > nav.navbar.sk-navbar {
  background: darken($splashkit-blue, 7%);
  border-radius: 0;
  box-shadow: 0px 0px 3px #36459b;
  .navbar-brand {
    color: lighten($splashkit-yellow, 7%);
    font-weight: 500;
  }
  .navbar-toggler {
    color: #fff;
  }
  .sk-global-search {
    border-style: 1px;
    border-bottom-style: solid;
    border-bottom-color: $navbar-dark-color;
    color: $navbar-dark-color;
    input, .input-group-addon {
      border: none;
      background: none;
      border-radius: 0;
      color: inherit;
    }
    input::placeholder {
      color: $navbar-dark-color;
    }
    &:active, input:focus {
      color: $navbar-dark-active-color;
      border-bottom-color: $navbar-dark-active-color;
    }
    &:hover {
      color: $navbar-dark-hover-color;
      border-bottom-color: $navbar-dark-hover-color;
      input::placeholder {
        color: $navbar-dark-hover-color;
      }
    }
    .input-group-addon {
      padding-right: 0.25rem;
    }
  }
}
