nav.global {
  @media (min-width: $screen-sm-min) {
    // Keep lists side by side in small screens
    display: flex;
  }
  ul {
    // Remove list
    @include remove-list-style;
    text-transform: uppercase;
    // Margin to separate lists on small devices
    margin-top: 2em;
    @media (min-width: $screen-sm-min) {
      margin-top: 0;
      // Keep lists side by side in small screens
      flex: 1;
    }
  }
  ul li.title {
    color: #747474;
    font-size: 0.8em;
    font-weight: 600;
    padding-bottom: 1em;
  }
  ul li a {
    display: block;
    margin-left: 1em;
    border-width: 1px;
    border-color: #e6e6e6;
    border-top-style: solid;
    padding: 1em;
    color: #303030;
    &:hover {
      text-decoration: none;
      color: $link-color;
    }
    // Reduce width on larger devices to separate horizontally
    @media (min-width: $screen-sm-min) {
      width: 80%;
    }
  }
  ul li:last-child a {
    border-bottom-style: solid;
  }
}
