$sk-logo-aspect-ratio-w: 15;
$sk-logo-aspect-ratio-h: 16;

.sk-logo {
  background-image: url('/images/skbox.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: $sk-logo-aspect-ratio-w;
  height: $sk-logo-aspect-ratio-h;
}
