<div class="sk-text-center">

  <h1>Ubuntu</h1>
  <p class="lead">
    Use the <%= link_to 'Ubuntu Installation Guide', '/guides/installation/ubuntu.html' %> to get started with SplashKit on Ubuntu.
  </p>

  <h1>macOS</h1>
  <p class="lead">
    Use the <%= link_to 'macOS Installation Guide', '/guides/installation/MacOS.html' %> to get started with SplashKit on macOS.
  </p>

  <h1>Windows</h1>
  <p class="lead">
    Use the <%= link_to 'Windows Installation Guide', '/guides/installation/windows.html' %> to get started with SplashKit on Windows.
  </p>

</div>
