<div class="sk-guides-grid">

  <div class="row guide-row">
    <h3>Installation guides</h3>

    <a class="col col-md-4 guide" href="/guides/installation/windows">
      <div class="inner">
        <div class="icon">
          <i class="fa fa-windows fa-5x"></i>
        </div>
        <h4>Windows</h4>
        <h5>Installation guide</h5>
      </div>
    </a>

    <a class="col col-md-4 guide" href="/guides/installation/MacOS">
      <div class="inner">
        <div class="icon">
          <i class="fa fa-apple fa-5x"></i>
        </div>
        <h4>MacOS</h4>
        <h5>Installation guide</h5>
      </div>
    </a>

    <a class="col col-md-4 guide" href="/guides/installation/ubuntu">
      <div class="inner">
        <div class="icon">
          <i class="fa fa-linux fa-5x"></i>
        </div>
        <h4>Ubuntu</h4>
        <h5>Installation guide</h5>
      </div>
    </a>

  </div>

</div>
