<% wrap_layout :index do %>
  <div class="container">
    <div class="row">
      <article class="col col-md-9 sk-article">
        <%= yield %>
      </article>
      <aside class="col col-md-3 sk-guide-sidebar">
        <h3>Other guides</h3>
      </aside>
    </div>
  </div>
<% end %>
