<% wrap_layout :'articles/index' do %>
  <article class="col-md-9 sk-article">
    <%= yield %>
  </article>
  <aside class="col-md-3 sk-article-sidebar">
    <h3>Other Guides</h3>
  </aside>
<% end %>
