<% wrap_layout :index do %>
  <div class="container">
    <div class="row">
      <% unless current_page.data.title.nil? %>
        <h1><%= current_page.data.title %></h1>
      <% end %>
      <%= yield %>
    </div>
  </div>
<% end %>
