<% wrap_layout :'articles/index' do %>
  <heading>
    <h1>
      <%= current_page.data.title %>
    </h1>
    <p class="lead">
      Step <%= current_page.data.step %>
    </p>
  </heading>
  <hr>
  <article class="col-md-9 sk-article">
    <%= yield %>
  </article>
  <nav>
  </nav>
<% end %>
