<%# Define links and text in global navigation under data/global/footer.yml %>
<footer class="sk-footer">
  <div class="container">
    <ul class="sk-footer-links">
      <% data.global.footer.links.each do | link | %>
        <li>
          <a href="<%= link.href %>" target="_blank"> <%= link.title %> </a>
        </li>
      <% end %>
    </ul>
    <% data.global.footer.copyright_notice.split("\n").each do | par | %>
      <p>
        <%= par %>
      </p>
    <% end %>
  </div>
</footer>
