<div class="sk-guides-grid">

  <div class="row guide-row">
    <h3>Guides</h3>

    <a class="col col-md-6 guide" href="/guides/installation">
      <div class="inner">
        <div class="icon">
          <i class="fa fa-download fa-5x"></i>
        </div>
        <h4>Installing SplashKit</h4>
        <h5>Installation guides</h5>
      </div>
    </a>
    <a class="col col-md-6 guide" href="/guides/code-examples/">
      <div class="inner">
        <div class="icon">
          <i class="fa fa-code fa-5x"></i>
        </div>
        <h4>Using SplashKit</h4>
        <h5>Code Examples</h5>
      </div>
    </a>
    <a class="col col-md-6 guide" href="/guides/contributing/">
      <div class="inner">
        <div class="icon">
          <i class="fa fa-plus fa-5x"></i>
        </div>
        <h4>Contributing To SplashKit</h4>
        <h5>Guides</h5>
      </div>
    </a>

  </div>

</div>
