<div style="text-align: center; padding: 4rem;">

  <i class="fa fa-clock-o fa-5x"></i>
  <h1>Coming Soon!</h1>
  <p class="lead">
    This section of the website is coming soon.
  </p>

  <%= link_to 'Installation Guides', '/guides/installation/index.html' %>  

</div>
