body.index .emoji-container .emoji-row {
  $emoji-size: 32px;
  $emoji-time: 9s;
  position: relative;
  width: 100%;
  height: $emoji-size;
  i.emoji {
    position: absolute;
    animation-name: emoji-move-off;
    animation-timing-function: linear;
    animation-duration: $emoji-time;
    height: $emoji-size;
    width: $emoji-size;
    background-size: cover;
    background-repeat: no-repeat;
    @keyframes emoji-move-off {
      0% {
        left: -$emoji-size;
      }
      100% {
        left: 150%;
      }
    }
  }
}
