// In this file we need to remove the global navigation from the top and place
// it instead underneath at the global nav specified
body.index > nav.global {
  display: none;
}
body.index > main > .nav-list {
  background-color: $grey-bg;
  border-top: 1px solid $grey-border-color;
  padding: 4em;
  @media (min-width: $screen-sm-min) {
    height: 30vh;
  }
}
