section.sk-api-section {
  & + section.sk-api-section {
    margin-top: 2rem;
  }
  &:hover *[data-anchor] > a.anchorjs-link {
    opacity: 1;
  }
  h3 {
    font-weight: 300;
    padding-top: 1.5em;
  }
  .sk-api-description {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
  dl {
    dt {
      color: $text-muted;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    dd table {
      @extend .table;
      @extend .table-hover;
      @extend .table-sm;
    }
    @include clearfix();
    @include media-breakpoint-up(lg) {
      dt {
        @include make-col(2);
        margin-bottom: 0;
      }
      dd {
        @include make-col(10);
      }
      dd table thead th.sk-table-fixed-header {
        width: 20%;
      }
    }
  }
}

section.sk-api-guides {
  margin-bottom: 2rem;
}
