<section class="sk-api-define sk-api-section">
  <h3 id="<%= slug_for define %>" data-anchor> <%= define.name.to_human_case %> </h3>
  <div class="sk-api-description">
    <%= (define.description || "No define description").to_html %>
  </div>
</section>
