<ul class="nav sk-api-nav-article">
  <li class="nav-item nav-header">
    <%= header %>
  </li>
  <% links.group_by { |link| link.respond_to?(:name) ? link.name : link }.each do |group, links| %>
    <li class="nav-item">
      <a href="#<%= links.length > 1 ? "group-" : "" %><%= slug_for (links.length > 0 ? group : links.first) %>" class="nav-link">
        <%= links.first.name.to_human_case %>
      </a>
    </li>
  <% end %>
</ul>
