<% wrap_layout :index do %>
  <%= partial 'partials/page_header', locals: { title: name, brief: brief } %>
  <div class="sk-api-root container">
    <div class="row">
      <aside class="sk-sidebar sk-sticky-sidebar">
        <%= partial 'partials/api/nav' %>
      </aside>
      <article class="sk-content">
        <%= yield %>
      </article>
    </div>
  </div>
<% end %>
