<% wrap_layout :index do %>
  <%= partial 'partials/page_header', locals: { title: name, brief: brief } %>
  <div class="sk-api-root container">
    <div class="row">
      <aside class="col-xs-12 col-md-3 push-md-9 sk-sidebar">
        <%= partial 'partials/api/nav' %>
      </aside>
      <article class="col-xs-12 col-md-9 pull-md-3 sk-content">
        <%= yield %>
      </article>
    </div>
  </div>
<% end %>
