<div class="sk-guides-grid">

  <div class="row guide-row">
    <h3>Code examples</h3>

    <% find_guide_categories('code-examples').each do |key| %>

      <a class="col col-md-4 guide" href="/guides/code-examples/<%= key %>/">
        <div class="inner">
          <div class="icon icon-text">
            <span><%= key.upcase %></span>
          </div>
          <h4><%= key.capitalize %></h4>
          <h5>Examples &amp; guides</h5>
        </div>
      </a>

    <% end %>

  </div>

</div>
