<% if description %>
  <div class="sk-root-api-description">
    <%= description.to_html %>
  </div>
<% end %>

<%# Functions %>
<% if !functions.empty? %>
  <section id="functions" class="sk-functions">
    <h2> Functions </h2>
    <% functions.each do |function| %>
      <%= partial 'partials/api/function', locals: { function: function } %>
    <% end %>
  </section>
<% end %>

<%# Types %>
<% if !types.empty? %>
  <section id="types" class="sk-types">
    <h2> Types </h2>
    <% types.each do |type| %>
      <%= partial 'partials/api/type', locals: { type: type } %>
    <% end %>
  </section>
<% end %>

<%# Macros %>
<% if !defines.empty? %>
  <section id="types" class="sk-types">
    <h2> Macros </h2>
    <% defines.each do |define| %>
      <%= partial 'partials/api/defines', locals: { define: define } %>
    <% end %>
  </section>
<% end %>
