<h3>database Guides</h3>
<div class="list-group">
  <% find_guides_in_category('code-examples/database').each do |f| %>
    <a class="list-group-item" href="/<%= f[:uri] %>"><%= f[:doc_title] %></a>
  <% end %>
</div>