<div class="container">
  <div class="row">
    <span class="sk-logo"></span>
    <p class="lead">
      SplashKit is a beginner's all-purpose software toolkit.
    </p>
  </div>
  <div class="row sk-install">
    <h5>
      Beta Release
    </h5>
    <p>
      To install SplashKit Beta, <strong>copy and paste</strong> the following into your <strong>terminal</strong>:
    </p>
    <pre data-clipboard data-clipboard-target="#sk-install-script" id="sk-install-script" class="sk-install-script container"><%= data.download.download_script.strip %></pre>
  </div>
</div>
