<div class="container">
  <div class="row">
    <span class="sk-logo"></span>
    <p class="lead">
      SplashKit is a beginner's all-purpose software toolkit.
    </p>
  </div>
  <div class="row sk-install">
    <h5>
      Mac Beta
    </h5>
    <p>
      To install SplashKit, <strong>copy and paste</strong> the following in your <strong>terminal</strong>:
    </p>
    <pre class="sk-install-script container"><%= data.download.download_script.strip %></pre>
  </div>
</div>
