<ul class="sk-grid">
  <li class="sk-grid-item">
    <a class="sk-grid-btn" href="/articles/installation/windows">
      <i class="fa fa-windows"></i>
      <header>Windows</header>
      <small>Installation Guide</small>
    </a>
  </li><!--/windows-->
  <li class="sk-grid-item">
    <a class="sk-grid-btn" href="/articles/installation/mac">
      <i class="fa fa-apple"></i>
      <header>macOS</header>
      <small>Installation Guide</small>
    </a>
  </li><!--/windows-->
  <li class="sk-grid-item">
    <a class="sk-grid-btn" href="/articles/installation/ubuntu">
      <i class="fa fa-linux"></i>
      <header>Ubuntu</header>
      <small>Installation Guide</small>

    </a>
  </li><!--ubuntu-->
</ul>
