<h3>JSON Guides</h3>
<div class="list-group">
  <% find_guides_in_category('code-examples/json').each do |f| %>
    <a class="list-group-item" href="/<%= f[:uri] %>"><%= f[:name].capitalize %></a>
  <% end %>
</div>
